@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Open+Sans&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
#logProc {
  width: 500px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  /* justify-content: space-between; */
}
#cont {
  width: 18%;
  height: 50px;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}
#cont > img {
  height: 20px;
  width: 18px;
}
#cont > p {
  font-size: 20px;
}
#contnum {
  width: 100%;
  display: flex;
  gap: 2%;
  margin-top: 40px;
}
#contnum > input {
  width: 80%;
  padding-left: 7px;
  font-size: 18px;
  outline: none;
  border: 2px solid green;
  border-radius: 5px;
}
#btn {
  display: block;
  margin: auto;
  width: 300px;
  height: 40px;
  color: white;
  background-color: #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 400px;
}
h3 {
  margin-top: 20px;
}

@media all and (min-width: 280px) and (max-width: 520px){
  #logProc{
    width: 90%;    
  }
  #cont > img {
    height: 10px;
    width: 10px;
  }
  #cont > p {
    font-size: 14px;
  }
  #contnum > input{
    font-size: 14px;
  }
  #cont{
    height: 40px;
    gap: 5px;
  }
  #btn{
    width: 40%;
    margin: auto;
    margin-top: 300px;
    height: 30px;    
  }
}