@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Open+Sans&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
}
#mainNav {
  height: 80px;
  width: 100%;
  background-color: black;
  /* color: white; */
}
#menu {
  border: none;
  outline: none;
  color: white;
}
#pnm {
  width: 30%;
  color: white;
  margin-left: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

#rest {
  width: 60%;
  display: flex;
  /* justify-content: space-around; */
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  color: white;
  gap: 50px;
}
#rest > h5 > a {
  text-decoration: none;
  color: white;
}
#bah {
  width: 200px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
  color: black;
  padding: 0px 10px;
  border-radius: 50px;
  height: 50px;
}
#bah a {
  text-decoration: none;
  color: black;
}
#bah > p {
  font-size: 19px;
  margin-top: 12px;
  margin-left: 10px;
  color: black;
}
#user {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 10px;
}
#logData {
  width: 100%;
  background-color: black;
  color: white;
  padding-left: 20px;
}
#logData > p {
  color: #5a5a5a;
}
#logData > p:nth-child(2) {
  margin-bottom: 0px;
}
#logData > h5 {
  margin-top: 10px;
  font-weight: bold;
}
.box1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  margin-top: 5px;
}
.child {
  /* width: 40%; */
  display: flex;
  justify-content: space-between;
}
.box1 > p {
  font-weight: bold;
  color: #a35c00;
}
.child > p {
  margin-left: 10px;
}
#sideContent > hr {
  width: 90%;
  margin: auto;
}
#city {
  font-weight: bold;
  color: #10a310;
}
#logo {
  margin-top: 10px;
}

#logData1 {
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e5e8ec;
}
#logData1 > p {
  margin-top: 15px;
}
#mycity {
  margin-bottom: -10px;
  margin-top: 20px;
}
#logme > a {
  text-decoration: none;
  color: white;
}
#logme1 > a {
  text-decoration: none;
  color: black;
}
