/* back-ground image and form//upper part  */
#backgroundImg{
    background-image:url(https://www.zoomcar.com/img/banner_roundtrip.png);
    background-size: 100% 600px;
    background-repeat: no-repeat;
    height:500px;
    width:100%;
    border:1px solid wheat
}
form{
width:30%;
height:200px;
margin:300px auto 50px auto;
}
form>div{
height:66px;
display:flex;
}
#ride-selection>div{
 height:80%;
 width:50%;
 border:1px solid limegreen;
 background-color: white;
 text-align: center;
 border-radius: 3px;
 
}
#div-content>div>img{
height:10%;
width:10%;
margin-top:2%
}
#submit-form>div,#city-selection>div,#date>div,#submit-form>div{
height:80%;
width:100%;
background-color: white;
border-radius: 5px;
display:flex;
font-stretch: ultra-expanded;
font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
select{
width:95%;
margin-left:8%;
border:0px;
border-radius: 5px;
}
#circle{
background-color:rgb(28, 176, 28);
border-radius:50%;
width:3%;
height:17%;
margin:6% auto auto 2%
}
#submit-form>div>div{
height:40%;
width:40%;
margin:4% 22% 30% auto;
font-size: 19px;
font-stretch:extra-expanded ;
font-weight: 400;
background-color: rgb(28, 176, 28);
color:white;
}
#submit-form>div{
background-color: rgb(28, 176, 28);
}

/* divs and images//middle part */

#container{
display:flex;
margin:auto;
width:80%;
justify-content: space-around;
margin-top:70px;
}
#wh-content{
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
width:35%;
padding:20px;
height:5%
}
#flex-content{
display:flex;
justify-content:space-between;
height:70%;
}
#flex-content>div>img{
height:99%;
width:120%;
margin-right:0px;
}
#flex-content>div{
height:200px
}
#footerImg{
display:flex;
border-top:1px solid grey
}

/* promo cards//third part */

#promo-div{
display:grid;
gap:20px;
grid-template-columns: repeat(2, 1fr);
width:80%;
margin:auto
}
#promo-div>div>img{
width:100%;
height:100%;
}
#promo{
background-color: rgb(240, 241, 241);
margin-top:50px;
padding:20px
}
button{
margin:auto;
background-color: green;
font-size: 18px;
color:white;
border:none;
padding:10px;
font-weight: 300px;
}
#book{
width:9%;
margin:50px auto 50px auto;
}


/* offer part//4th part */

#offers{
height:auto;
width:80%;
margin:auto;
margin-top:40px;
}
#offers>img{
width:100%;
height:500px
}

/* footers//bottom part */

#about{
width:100%;
background-color: rgb(240, 241, 241);
border-bottom: 1px solid black;
}
#about>div{
height:auto;
width:10%;
margin:auto;
padding:10px
}
#details{
width:95%;
margin:auto;
padding: 10px 30px;
line-height: 22px;
background-color: rgb(250, 251, 251);
}
#detail-write{
width:80%;
margin:auto;
}
#details>div>div>h3{
margin-top: 20px;
}
#footer-img > img {
margin-top: 50px;
width: 240px;
height: 240px;
max-width: 229px;
}
#copyright{
text-align:center;
}